@import url(variaveis.css);
@import url(reset.css);
@import url(lateral.css);
@import url(main.css);
@import url(botoes.css);
@import url(about.css);
@import url(skills.css);
@import url(work.css);
@import url(mobile.css);

body {
    background-color: var(--back);
    color: var(--branco);
    display: grid;
    grid-template-columns: 8% 72% 20%;
    overflow: hidden;
    font-family: var(--font);
}

a {
    color: var(--branco);
}
.luz {
    position: absolute;
    pointer-events: none;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0, 5));
    animation: fadeInOut 1s linear infinite;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}

.luz::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 10%;
    background-color: var(--clr);
    background-size: cover;
    animation: moveShape 20s linear infinite;
}

@keyframes moveShape {
    0%{
        transform: translate(0) rotate(0deg);
    }
    100% {
        transform: translate(300px) rotate(360deg);
    }
}

::-webkit-scrollbar{
    width: 10%;
}

@media screen and (max-width:400px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: visible;
    }
}